absl-py==1.4.0
accelerate==0.27.2
aiohttp==3.8.5
aiosignal==1.3.1
albumentations==1.3.0
altair==5.1.1
antlr4-python3-runtime==4.9.3
anyio==4.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astor==0.8.1
asttokens==2.4.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autograd==1.6.2
autograd-gamma==0.5.0
babel==2.12.1
backcall==0.2.0
backports-zoneinfo==0.2.1
beautifulsoup4==4.12.2
bitsandbytes==0.41.1
bleach==6.0.0
blinker==1.6.2
bokeh==3.1.1
braceexpand==0.1.7
cachetools==5.3.1
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==2.0.4
clean-fid==0.1.35
click==8.1.7
clip==1.0
cloudpickle==3.0.0
cmake==3.27.4.1
comm==0.1.4
contextlib2==21.6.0
contourpy==1.1.1
cryptography==41.0.2
cycler==0.11.0
dask==2023.5.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.26.3
distributed==2023.5.0
docker-pycreds==0.4.0
einops==0.7.0
einx==0.1.3
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.13.1
fonttools==4.42.1
formulaic==0.6.6
fqdn==1.5.1
frozendict==2.4.0
frozenlist==1.4.0
fsspec==2023.9.0
ftfy==6.1.1
future==0.18.3
gdown==4.7.1
gitdb==4.0.10
gitpython==3.1.35
google-auth==2.22.0
google-auth-oauthlib==1.0.0
graphlib-backport==1.0.3
grpcio==1.58.0
h5py==3.9.0
huggingface-hub==0.21.1
hydra-core==1.3.2
idna==3.4
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==6.8.0
importlib-resources==6.0.1
interface-meta==1.3.0
invisible-watermark==0.2.0
ipykernel==6.25.2
ipython==8.12.2
ipywidgets==8.1.1
jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jupyter
jupyterlab==4.0.6
kiwisolver==1.4.5
kornia==0.6.0
lazy-loader==0.3
lazypredict==0.2.12
lifelines==0.27.8
lightgbm==4.1.0
lmdb==1.4.1
loguru==0.7.2
lz4==4.3.3
markdown==3.4.4
matplotlib==3.7.3
ml-collections==0.1.1
networkx==3.1
nonechucks==0.4.2
numpy==1.23.1
omegaconf==2.3.0
opencv-python==4.6.0.66
opencv-python-headless==4.8.0.76
open-clip-torch==2.23.0
openslide-python==1.3.0
packaging==23.1
pandas==2.0.3
pillow==9.4.0
protobuf==3.20.3
psutil==5.9.5
pyarrow==13.0.0
pydeprecate==0.3.1
pygments==2.16.1
pyyaml==6.0.1
pytorch-lightning==1.4.2
pytorch-msssim==1.0.0
pywavelets==1.4.1
requests==2.31.0
rich==13.5.2
safetensors==0.4.2
scikit-image==0.20.0
scikit-learn==1.3.0
scipy==1.9.1
seaborn==0.13.1
sentencepiece==0.1.99
shapely==2.0.2
slideio==2.2.0
streamlit==1.12.1
streamlit-drawable-canvas==0.8.0
sympy==1.12
tensorboard==2.14.0
test-tube==0.7.5
tifffile==2023.7.10
timm==0.5.4
tokenizers==0.15.2
torchmetrics==0.6.0
tqdm==4.66.1
transformers==4.38.1
triton==2.0.0
typing-extensions==4.9.0
urllib3==1.26.16
vector-quantize-pytorch==1.14.1
wandb==0.15.4
watchdog==3.0.0
webdataset==0.2.5
werkzeug==2.3.7
xformers==0.0.20
xgboost==2.0.1
yarl==1.9.2